.audio-icon {
    cursor: pointer;
    font-size: 56px;
    color: #fff;
}

.audio-wrapper {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}